{% extends "wallet/base.html"  %}
{% block main_data %}
<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Address</th>
      <th>Confirmations</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    {% for account in accounts %}
    <tr>
      <td>{{ account.account }}</td>
      <td>{{ account.address }}</td>
      <td>{{ account.confirmations }}</td>
      <td>{{ account.balance }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
    <tr>
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
    <tr>
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
  </tbody>
</table>
<p><a href="#"><button class="control-button pull-right">
      <div class="button-icon2 pull-left">
	<span class="glyphicon glyphicon-plus-sign"></span>
      </div>New Account</button></a>
</p> <!-- /button -->

<!-- <p><button id="newaddr" class="pull-right">New Address</button></p> -->
{% endblock %}
