{% extends "wallet/base.html"  %}
{% block main_data %}

{{ error }}

{{ form.errors }}

{% if form.errors %}
<p>Your transaction contained errors. Please try again.</p>
{% endif %}

<form id="send-form "class="form-horizontal" method="post" action="{% url 'send' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="fromField" class="col-sm-2 control-label">From:</label>
    <div class="col-sm-10">
      {{ form.account.errors  }}
      <p>
	{{ form.from_address }}
      </p>
    </div>
  </div> <!-- /form-group -->
  <div class="form-group">
    <label for="toField" class="col-sm-2 control-label">To:</label>
    <div class="col-sm-10">
      {{ form.to_address.errors }}
      <p>{{ form.to_address }}</p>
    </div>
  </div> <!-- /form-group -->
  <div class="form-group">
    <label for="amountField" class="col-sm-2 control-label">Amount:</label>
    <div class="col-sm-10">
      {{ form.amount.errors }}
      <p>{{ form.amount }}</p>
    </div>
  </div> <!-- /form-group -->
  <div class="form-group">
    <label for="feeField" class="col-sm-2 control-label">Fee:</label>
    <div class="col-sm-10">
      {{ form.fee.errors }}
      <p>{{ form.fee }}</p>
    </div>
  </div> <!-- /form-group -->

  <p><a href="#"><button id="send-submit" class="control-button pull-right">
      <div class="button-icon2 pull-left">
	<span class="glyphicon glyphicon-arrow-right"></span>
      </div>Send</button></a>
</p> <!-- /button -->
</form>

<script>
var form = document.getElementById("send-form");
document.getElementById("send-submit").addEventListener("click", function () {
  form.submit();
});
</script>

{% endblock %}
