aiohttp==0.9.2
bunch==1.0.1
Django==1.7.3
jsonrpc==1.2
python-jsonrpc==0.6.2
redis==2.10.3
git+https://github.com/opalcoin/openassets-opal.git#egg=openassets-opal
git+https://github.com/opalcoin/python-opalcoinlib.git#egg=python-opalcoinlib

