{% extends "wallet/base.html"  %}
{% block main_data %}
<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Name</th>
      <th>Owner</th>
      <th>Quality</th>
      <th>Divisble</th>
      <th>Confirmed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
    <tr>
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
    <tr>
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
  </tbody>
</table>

<p>
  <a href="#"><button class="control-button pull-right">
      <div class="button-icon2 pull-left">
	<span class="glyphicon glyphicon-list"></span>
      </div>My Orders</button></a>
  <a href="#"><button class="control-button pull-right">
      <div class="button-icon2 pull-left">
	<span class="glyphicon glyphicon-star"></span>
      </div>All Assets</button></a>
  <a href="#"><button class="control-button pull-right">
      <div class="button-icon2 pull-left">
	<span class="glyphicon glyphicon-plus-sign"></span>
      </div>Issue Asset</button></a>
</p> <!-- /button -->

{% endblock %}
