{% extends "wallet/base.html"  %}
{% block main_data %}
<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Label</th>
      <th>Balance</th>
      <th>Confirmed Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
    <tr>
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
    <tr>
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
  </tbody>
</table>
<p><a href="#"><button id="newaddr" class="pull-right">
      <div class="button-icon pull-left">
	<span class="glyphicon glyphicon-plus-sign"></span>
      </div>New Address</button></a>
</p> <!-- /button -->

<!-- <p><button id="newaddr" class="pull-right">New Address</button></p> -->
{% endblock %}
