{% extends "wallet/base.html"  %}
{% block main_data %}
<form class="form-horizontal">
  <div class="form-group">
    <label for="fromField" class="col-sm-2 control-label">From:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="fromField" placeholder="Opal Address">
    </div>
  </div> <!-- /form-group -->
  <div class="form-group">
    <label for="toField" class="col-sm-2 control-label">To:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="toField" placeholder="Opal Address">
    </div>
  </div> <!-- /form-group -->
  <div class="form-group">
    <label for="amountField" class="col-sm-2 control-label">Amount:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="amountField" placeholder="Opal Amount">
    </div>
  </div> <!-- /form-group -->
  <div class="form-group">
    <label for="feeField" class="col-sm-2 control-label">Fee:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="feeField" placeholder="Opal Amount">
    </div>
  </div> <!-- /form-group -->
</form>


<p><a href="#"><button class="control-button pull-right">
      <div class="button-icon2 pull-left">
	<span class="glyphicon glyphicon-arrow-right"></span>
      </div>Send</button></a>
</p> <!-- /button -->
{% endblock %}
