{% extends "registration/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your registration contained errors. Please try again.</p>
{% endif %}
<br>
<form method="post" action="{% url 'register' %}">
{% csrf_token %}
<table>
  <tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
    <td>{{ form.username.errors }}</td>
</tr>
  <tr>
    <td>{{ form.password1.label_tag }}</td>
    <td>{{ form.password1 }}</td>
    <td>{{ form.password1.errors }}</td>
</tr>
  <tr>
    <td>{{ form.password2.label_tag }}</td>
    <td>{{ form.password2 }}</td>
    <td>{{ form.password2.errors }}</td>
</tr>
</table>

<input type="submit" value="Register" />
</form>

{% endblock %}

